svg {
  polyline.line {
		cursor: pointer;
    stroke-width: 2;
    fill: none;
    &:hover {
      stroke-width: 4;
    }
    &.selected {
      stroke-width: 4;
			animation: selected 2s infinite linear;
    }
  }

  g.chart-grid line {
    fill: none;
    stroke-width: 1;
    stroke: #DDD;
		pointer-events: none;
  }

	text.rate-text {
		pointer-events: none;
		fill: #444;
		font-size: 10px;
	}

	text.rate-text-border {
		pointer-events: none;
		stroke-width: 1.5;
		stroke: #DDD;
		font-size: 10px;
	}

	text.event {
		cursor: pointer;
		font-size: 10px;
		&.important {
			font-weight: bold;
		}
	}

	line.event {
		opacity: 40%;
		stroke-width: 2;
		pointer-events: none;
		&.important {
			stroke-width: 4;
		}
	}

}

@keyframes selected {
	0% {}
	50% {stroke: #EEE;}
}

.axis-text {
  color: #888;
  fill: #888;
  font-size: 12px;
	pointer-events: none;
}

div.selected {
  font-style: italic;
}
