svg {
  polyline.line {
    stroke-width: 2;
    fill: none;
    &:hover {
      stroke-width: 4;
    }
    &.selected {
      stroke-width: 4;
    }
  }

  g.chart-grid line {
    fill: none;
    stroke-width: 1;
    stroke: #DDD;
  }
}

.overflow {
  overflow-x: scroll;
}

.axis-text {
  color: #888;
  fill: #888;
  font-size: 12px;
}

div.selected {
  font-style: italic;
}
