body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  width: 32px;
  height: 32px;
}

.btn {
  border-radius: 0;
}

li {
  list-style-type: none;
}

