svg polyline.line {
  stroke-width: 2;
  fill: none;
}

svg polyline.line:hover {
  stroke-width: 4;
}

svg polyline.line.selected {
  stroke-width: 4;
}

svg g.chart-grid line {
  fill: none;
  stroke-width: 1;
  stroke: #DDD;
}

div.selected {
  font-style: italic;
}

