svg polyline.line {
  stroke-width: 2;
  fill: none;
}

svg polyline.line:hover {
  stroke-width: 4;
}

svg polyline.line.selected {
  stroke-width: 4;
  -webkit-animation: selected 2s infinite linear;
          animation: selected 2s infinite linear;
}

svg g.chart-grid line {
  fill: none;
  stroke-width: 1;
  stroke: #DDD;
}

@-webkit-keyframes selected {
  50% {
    stroke: #EEE;
  }
}

@keyframes selected {
  50% {
    stroke: #EEE;
  }
}

.axis-text {
  color: #888;
  fill: #888;
  font-size: 12px;
}

.rate-text {
  fill: #444;
  font-size: 10px;
}

.rate-text-border {
  stroke-width: 1.5;
  stroke: #DDD;
  font-size: 10px;
}

div.selected {
  font-style: italic;
}

