# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\data\www\inf1nitev0id\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
